body{

    background-color: black;
    font-family: "Anta", sans-serif;
}

div#board{

    position: relative;
    width: 1024px;
    height: 863px;
    margin: auto;
    background: url(./images/board.jpg) no-repeat;
}
div#board div#messageArea{
    position: absolute;
    top: 0;
    left: 0;
    background-color:  rgb(83, 175, 19);;
    font-size: 30px;
    font-weight: bold;
    padding: 5px 10px;
}
table{
    position: absolute;
   

    left: 173px;
    top: 100px;
    border-spacing: 0;
    
}
table td{
    height: 94px;
    width: 94px;
}
form {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(83, 175, 19);
 }
 form input {
    background-color: rgb(152, 207, 113);
    border-color: rgb(83, 175, 19);
    font-size: 1em;
    font-family: "Anta", sans-serif;
    /* border: none; */
 }
 form input:focus{
    outline: none;
 }
 form input[type="button"] {
    font-weight: bold;
    border: none;
    cursor: pointer;
 }
 .hit {
    background: url("./images/ship.png") no-repeat center center;
 }
 .miss {
    background: url("./images/miss.png") no-repeat center center;
 }